doctype html
html(lang="ru-RU")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Unesco Department
    link(rel='stylesheet', href='css/styles.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600&display=swap&subset=cyrillic')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Playfair+Display:700&display=swap&subset=cyrillic')
  body
    include ../layout/header
    include ../layout/main
    include ../layout/footer
    
    script(type='text/javascript' src='js/index.js')
    script(async src='https://platform.twitter.com/widgets.js' charset='utf-8')