footer.footer
  p.copyright (с) 2019. Государственный университет управления. 
    |  Все права защищены. Политика конфиденциальности.
  ul.social
    - for (var i = 0; i < 5; i++)
      li.social__item: a(class='social__icon' href='#')
