main.main
  .about
    section.about__left
      img(class='about-logo' src='./img/about-logo-min.png')
      .about-news
        h2.about-news__title Новости
        blockquote.twitter-tweet
          p(class='twitter-tweet__title' lang="en" dir="ltr") Fall foliage &amp; snow-capped peaks: Isn&#39;t 
            a(href="https://twitter.com/DenaliNPS?ref_src=twsrc%5Etfw") @DenaliNPS spectacular? Pic by Michel Hersen 
            a(href="https://twitter.com/hashtag/Alaska?src=hash&amp;ref_src=twsrc%5Etfw") #Alaska
            a(href="http://t.co/LOTJsl6iK1") pic.twitter.com/LOTJsl6iK1 
          | &mdash; US Department of the Interior (@Interior) 
          a(href="https://twitter.com/Interior/status/651780213496545280?ref_src=twsrc%5Etfw") October 7, 2015
        a(class='about-news__all' href='#') Все новости

    section.about__right
      .about-department
        h2.about-department__title Кафедра 
          span.about-department__title_upper юнеско ГУУ
        p.about-department__description В ноябре 2018 года Секретариат ЮНЕСКО одобрил инициативу ГУУ о создании кафедры ЮНЕСКО «Социально-правые и этические основы общества знаний (информационного общества)», а 25 января 2019 года подписано официальное соглашение между ЮНЕСКО и ГУУ.
        a(class='about-department__link' href='#') Подробнее
      .about-images
        img(class='about-images__image' src='./img/AFG_7762-min.jpg')
        img(class='about-images__image' src='./img/AFG_7808-min.jpg')

  .work
    h2.work__title Что мы делаем?
    ul.work-list
      each val in ['Цифровое волонтерство', 'Деловая игра ЮНЕСКО', 'Исследования']
        li(class='work-list__item')
          i.work-list__sprite
          p(class='work-list__text')= val


