- 
  var navList = [
    {title: 'Главная', link: '/'}, 
    {title: 'О кафедре', link: 'about.html'}, 
    {title: 'Направления деятельности', link: '#'}, 
    {title: 'Партнеры', link: 'partners.html'}, 
    {title: 'Руководство', link: 'headship.html'}, 
    {title: 'Контакты', link: 'contacts.html'}
  ]

ul.nav
  each item in navList
    li.nav__item: a(class='nav__link' href=item.link)= item.title

.burger-wrapper
  .burger